doctype html
html(lang="en")
    head
        title Not Found!
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    body.bg-dark.text-light.text-center
        include nav
        div.container
            div.row
                div.col
                    h1.display-1 Error: 404. Not found!